@import url('http://fonts.cdnfonts.com/css/azo-sans');

* {
  margin: 0;
  padding: 0;
  font-family: 'Azo Sans', sans-serif;
  overflow-x: hidden;
}


/* Structure */

.container {
  display: grid;
  /* grid-gap: 2rem; */
  grid-template-areas:
    "navbar navbar navbar navbar"
    "main main main main"
    "inform inform inform inform"
    "footer footer footer footer"
    "last last last last";
}

/* Navbar */

#navbar {
  grid-area: navbar;
  background: #eceaec;
}

.cont {
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  align-items: center;
  /* border: 2px solid red; */
}

.cont img {
  margin-bottom: 25px;
}

#navbar ul {
  list-style: none;
}


.fbox {
  display: flex;
  margin-right: auto;
  /* border: 2px solid red; */
}

.fbox .first {
  display: flex;
  justify-content: flex-start;
  margin-left: 290px;
}

.first li{
    padding: 5px 25px;
  color: #0f7acc;
}

.fbox .second {
  display: flex;
  margin-left: 300px;
}

.second li{
    font-weight: bold;
    color: #1c64a3;
    padding: 5px 25px;

}

.sbox {
  display: flex;
  margin-top: 10px;
  background: linear-gradient(315deg, #753BBD 0%, #1b8dc9 67.21%, #1ea6de 100%);
  color: white;
  width: 100vw;
  height: 50px;
}

.sbox li {
  padding: 10px 25px;
}
.sbox .sf {
  display: flex;
  margin-left: 285px;
  align-items: center;
}

.sbox .ss {
  display: flex;
  margin-left: 600px;
  align-items: center;
}

.sbox img {
  width: 30px;
  margin: auto;
}

/* /Navbar */

/* Main */


#main {
  grid-area: main;
  height: 480px;
}

#main::before {
  content: "";
  position: absolute;
  top: 190px;
  height: 480px;
  width: 100%;
  background: url(/img/banner_.jpg) no-repeat center center/cover;
  z-index: -1;
}

/* Main */

/* Inform */
#inform {
  grid-area: inform;
  /* border: 2px solid red; */
  padding: 50px 250px;
  color: #1c64a3;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

#inform h5 {
  margin-top: 30px;
  font-size: 15px;
  opacity: 0.8;
}

.pay{
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    width: 90%;
    margin-top: 70px;

}

.payment{
    /* border: 2px solid red; */
    margin: 18px 30px;
}

.payment img{
    width: 200px;
}




/* Informs */


#footer {
  grid-area: footer;
padding: 20px 250px 50px ;
  /* padding: 50px 250px; */
  color: #1c64a3;
  background-color: #eceaec;
}

#footer h2{
    margin: 50px 0;
}

.misc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#footer .box{
    /* border: 2px solid red; */
    height: 200px;
    width: 300px;   

}

.box h3{
    margin: 15px 0;
    font-size: 1.3rem;
}

.box p{
    margin-bottom: 20px;
    word-spacing: 5px;
    font-size: 16px;
}

.box button{
    position: absolute;
    margin: 20px 0;
    background-color: #faa54e;
    color: white;
    padding: 12px 60px;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    /* border: 2px solid red; */
}



        /* Footer */

        /* Last */


#last{
    grid-area: last;
    /* height: 320px; */
    width: 100%;
    background: linear-gradient(315deg, #753BBD 0%, #1b8dc9 67.21%, #1ea6de 100%);
}

#last .contain{
    margin-top: 30px;
    padding: 20px 250px;
    display: flex;
    justify-content: space-between;
    color: white;
    opacity: 0.8;
}

#last h4{
    margin-bottom: 20px;
}

#last li{
    padding-bottom: 5px;
}


.copyright{
    display: flex;
    justify-content: space-between;
    margin-left: 250px;
    margin-top: 10px;
    padding: 25px 0;
    
}

.copyright h5{
    color: white;
    opacity: 0.8;
    
}

.icon{
    display: flex;
    justify-content: flex-end;
    margin: 0 290px;
}
.fa-brands{
    color: white;
    margin: 0 15px;
}
/* /Structure */
